/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

 html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
} 
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
  h1, h2, h3, h4, h5 {
    font:bold;
    letter-spacing: 1px;
    margin-bottom: 15px;
}  

/* Your code starts here! */

 .container{
	 width: 80%;
	 margin:auto;
	
 }
 .nav{
	 display: inline-block;
	 border: 0.2spx solid black;
	 border-color:lightskyblue;
	 background-color: lightskyblue;
	 position:fixed;
	 width:80%;
 }
 .nav a{
	text-decoration: none;
	color:black;
	line-height: 70px;
	padding: 0px 30px;
    font-size: 16px;
	text-align: left;  
 }

 .nav a:hover{  
	 color:white;
 }

 .nav .logo{
	 float:right;
	 margin-top: 15px;
	 margin-left: 20px;
 }

 .header-container {
	 text-align:center;
	}
 .header {
	display: inline-block;
	width: 500px;
	text-align: center;
	padding:30px 0px 40px  ;
	
		
 }
.header h1{ 
	font-size: 50pt;
	padding:50px 50px;
	
}

.introimg{
	 
width: 40%;
	/* border: 1px dashed red; */
display: inline-block;
	/* TRBL*/
padding: 150px 0px 10px 20px;
	 
 }

 .header button{
	padding: 5px 40px 5px;
	border: 1px solid black;
	font-family: 'Titillium Web';
	vertical-align: text-bottom;
	background-color: lightskyblue; 
	} 
/*@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	
	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}
	
	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}*/
button:hover {
	transform: skew(-10deg);
	background-color:white;
}
button a{
	text-decoration: none;
	color:black;
}
.top-content{
	border-top:dotted 2px black;
	padding:30px 0px 30px;
	margin-top:20px;
 }

 .top-content .features {
	display: inline-block;
	/* border: 1px solid red; */
	width: 49%;
	margin-right: 5px;
}

.top-content .about {
	display: inline-block;
	/* border: 1px solid red; */
	width: 49%;
	
}
.middle-img {
	display: block;
	width: 100%;
}
.bottom-content {
	border-bottom:dotted 2px black;
	padding: 20px 0 30px;
	margin-bottom:20px;
}
.bottom-content .services {
	display: inline-block;
	width:30%;
	margin-right:29px;
}
.bottom-content .product {
	display: inline-block;
	width:30%;
	margin-right:29px;
}
.bottom-content .vision {
	display: inline-block;
	width:30%;	
}


footer{
	text-align: center;
	margin-top:25px;
}